.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: black;
  }

  .err {
    width: 100%;
    height: 2px;
    padding: 0px 0 30px 0;
    font-size: 0.90rem;
    text-align: center;
    color: gray;
    opacity: 0.66;
    
  }

  .success {
    width: 100%;
    height: 2px;
    padding-bottom: 50px;
    font-size: .90rem;
    text-align: center;
    color: gray;
    opacity: .66;
  }

  .pword {
    -webkit-text-security: disc;
    color: black;
  }